:root {
    --main-text-color:#212121;
    --titel-button-adress-map-color:#FFFFFF;
    --style-color:#2196F3;
    --logo-sp-head-color:#000000;
    --nav-link-color:#212121;
    --contact-link-p-color:#757575;
    --address-link-color: rgba(255, 255, 255, 0.6);

    --second-third-section-bg-color: #F5F5F5;
    --fourth-section-bg-color: #F5F4FA;
    --header-bg-color:#FFFFFF;
    --first-section-footer-bg-color:#2F303A;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:  var(--main-text-color);
    letter-spacing: 0.03em;
}


.link {
    text-decoration: none;
}
.list {
    list-style: none;
    
}

/* header */ 
.page-header {
    background-color: var(--header-bg-color)

}
.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--style-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

}
.logo-sp-head {
  color: var(--logo-sp-head-color);
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--nav-link-color);
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--style-color)
}
.contact-link {
    color: var(--contact-link-p-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--style-color);
}
/* main */
/* first-section */
.first-section {
    background-color:var(--first-section-footer-bg-color);
}
.section-h1 {
    color: var(--titel-button-adress-map-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color:  var(--titel-button-adress-map-color);
    background-color: var(--style-color);
    cursor: pointer;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
/* second-section */
.second-section {
    background-color: var(--second-third-section-bg-color);
}
.second-section-h2 {
    visibility: hidden;
}
.second-section-h3 {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.second-section-p {
    line-height: 2;
    color: var(--contact-link-p-color);
}
/* third-section */
.third-section {
    background-color: var(--second-third-section-bg-color);
}
.third-section-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

/* fourth-section */
.fourth-section {
    background-color: var(--fourth-section-bg-color);
}
.fourth-section-img {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.fourth-section-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}
.fourth-section-h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
}
.fourth-section-p {
    font-size: 16px;
    line-height: 1.8;
    color: var(--contact-link-p-color);
}


/* footer */
.page-footer {
    background-color:var(--first-section-footer-bg-color);
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 2;
    color: var(--style-color);
}
.footer-sp-logo {
    color: var(--titel-button-adress-map-color);
}
.address-item {
    font-style: normal;
}

.address-map {
    line-height: 2;
    color: var(--titel-button-adress-map-color);
}
.address-map:hover,
.address-map:focus {
    color: var(--style-color);
}
.address-link {
    line-height: 2;
    color: var(--address-link-color);
    
}
.address-link:hover,
.address-link:focus {
    color: var(--style-color);
}