:root {
    --main-text-color: #212121;
    --style-color: #2196F3;
    --logo-sp-head-color: #000000;
    --contact-link-text-color: #757575;
    --hero-titel-color:#FFFFFF;
    --main-btn-color:#FFFFFF;
    --footer-sp-logo-color: #FFFFFF;
    --address-map-color:#FFFFFF;
    --address-link-color: rgba(255, 255, 255, 0.6);
    --btn-hover-focus-color: #FFFFFF;
/*--------------------------------------------------------*/
    --header-bg-color: #FFFFFF;
    --first-section-bg-color: #2F303A;
    --second-section-bg-color: #F5F5F5;
    --third-section-bg-color:#F5F5F5;
    --fourth-section-bg-color:#F5F4FA;
    --portfolio-bg-color: #F5F5F5;
    --kit-btn-bg-color:#F5F4FA;
    --footer-bg-color: #2F303A;    
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;

}
                                       /* Студія */
/* Header - Студія - Портфоліо */
.page-header {
    background-color: var(--header-bg-color);
}
.logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--style-color);
}
.logo-sp-head {
   color: var(--logo-sp-head-color);
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: inherit;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--style-color);
}
.contact-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;     
    color: var(--contact-link-text-color);
}
.contact-link:hover,
.contact-link:focus {
    color: var(--style-color);
}
/* Main */
/* first-section */
.first-section {
   background-color:var(--first-section-bg-color);
}
.section-hero-titel {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-titel-color);
}
.main-button {
    font-family: inherit;
    background: var(--style-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;     
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-btn-color);
    cursor: pointer;
}
/* Second-section */
.second-section {
    background-color: var(--second-section-bg-color);
}
.second-section-titel {
    visibility: hidden;
}
.second-section-benefits {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;    
    color: inherit;
}
.second-section-text {
    font-size: 14px;
    line-height: 1.7;    
    color: var(--contact-link-text-color);
}
/* Third-section */
.third-section {
    background-color: var(--third-section-bg-color);
}
.third-section-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;  
    color: inherit;
}
/* Fourth-section */
.fourth-section {
    background-color: var(--fourth-section-bg-color);
}
.fourth-section-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: inherit;
}
/* .fourth-section-img {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px
} */
.fourth-section-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;                 
    color: inherit;
}
.fourth-section-text {
    font-size: 16px;
    line-height: 1.8;   
    color: var(--contact-link-text-color);
}
/* Footer - Студія - Портфоліо */
.page-footer {
    background-color: var(--footer-bg-color);
}
.address-item {
    font-style: normal;
}

.footer-logo {
    font-family: 'Raleway',sans-serif;        
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;           
    color: var(--style-color);
}
.footer-sp-logo{
    color: var(--footer-sp-logo-color);
}
.address-map {
    font-size: 14px;
    line-height: 1.7;          
    color: var(--address-map-color);
}
.address-map:hover,
.address-map:focus {
    color: var(--style-color);
}
.address-link {
    line-height: 1.7;
    color: var(--address-link-color);
}
.address-link:hover,
.address-link:focus {
    color: var(--style-color);
}
                                       /* Портфоліо */
/* Main */
.section {
    background-color: var(--portfolio-bg-color);
}
.main-titel {
    visibility: hidden;
}
.section-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;  
    text-align: center;    
    color: inherit;
    background-color: var(--kit-btn-bg-color);
    border-radius: 4px;
    cursor: pointer;
}
.section-btn:hover,
.section-btn:focus {
    color: var(--btn-hover-focus-color);
    background-color:var(--style-color);
}
.portfolio-titel {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;   
    letter-spacing: 0.06em;   
    color: inherit;
}
.section-text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--contact-link-text-color);
}
/* Footer */
.address-link {
    font-style: normal;
}